galera-cluster/node-1/var
galera-cluster/node-2/var
tmp
adobe-commerce/mariadb/var
adobe-commerce/utils/.composer/cache
adobe-commerce/utils/.composer/auth.json
adobe-commerce/utils/.m2install.conf
adobe-commerce/utils/.cache
elasticsearch/data
aem/aem-sdk
aem/author
.DS_Store
.idea
.vscode
*.log
*.tmp
data