[mysqld]
# Basic Performance
max_connections         = 1000
table_open_cache       = 8192
open_files_limit       = 65535

# InnoDB Engine Tuning
innodb_buffer_pool_size         = 1G
innodb_buffer_pool_instances    = 12
innodb_log_file_size            = 1G
innodb_log_buffer_size          = 256M
innodb_file_per_table           = 1
innodb_flush_method             = O_DIRECT

# Thread & Query Optimization
thread_cache_size               = 128
tmp_table_size                  = 512M
max_heap_table_size             = 512M
sort_buffer_size                = 8M
read_buffer_size                = 4M
read_rnd_buffer_size            = 4M
join_buffer_size                = 8M

# Slow Query Logging
slow_query_log                  = 1
slow_query_log_file             = /tmp/mariadb-slow.log
long_query_time                 = 2
log_queries_not_using_indexes   = 1

# Disable Performance Schema (optional)
performance_schema              = OFF

# Disable Binary Logging for Local Dev
skip-log-bin

skip_name_resolve=1
sql_mode = "ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION,NO_AUTO_VALUE_ON_ZERO"